<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--SEO Meta-->
    <title>{{ .Site.Title }}-{{if .IsHome}}{{ $.Site.Params.homeTitle }}{{else}}{{.Title}}{{end}}</title>
    <meta name="keywords"
        content='{{ if .Keywords }}{{delimit .Keywords ","}}{{ else }}{{.Site.Params.keywords}}{{ end }}'>
    <meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />

    <!--Head Common-->
    <link rel="shortcut icon" href="{{ "img/res/favicon.ico" | relURL }}">
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->

    <link crossorigin="anonymous" integrity="sha384-+pqJl+lfXqeZZHwVRNTbv2+eicpo+1TR/AEzHYYDKfAits/WRK21xLOwzOxZzJEZ"
        href="https://lib.baomitu.com/font-awesome/5.11.2/css/fontawesome.min.css" rel="stylesheet">

    <link crossorigin="anonymous" integrity="sha384-5kGFOAqgEKnuF6c2jk2JANKHZgYVt38Wn2dVJENtq1EBCP54/1uzXU5mpxqL8WjN"
        href="https://lib.baomitu.com/bulma/0.8.0/css/bulma.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ "css/dooz.blog.css" | relURL }}" />
    <script crossorigin="anonymous" integrity="sha384-vk5WoKIaW/vJyUAd9n/wmopsmNhiy+L2Z+SBxGYnUkunIxVxAv/UtMOhba/xskxh"
        src="https://lib.baomitu.com/jquery/3.4.1/jquery.min.js"></script>

    <!-- share -->
    {{if .Site.Params.OpenShare}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/jquery.share.min.js"></script>
    {{end}}

    {{ if .RSSLink }}
    <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}

    <!--Head Extend-->
    {{ block "headex" . }}{{ end }}

    <link href="/css/fonts.googleapi.css" rel="stylesheet">
    <script src={{"js/dooz.blog.js"|relURL}}></script>

    <!--if  Site.Params.Href_Blank -->
    <script>
        $(document).ready(function () {
            $('.content a[href^="http"]').each(function () {
                $(this).attr('target', '_blank');
            });
        });
    </script>
</head>

<body>
    <!--Header-->
    {{ block "header" . }}
    <!-- { partial "header" . }} -->
    {{ end }}

    <!--Main Container-->
    <div class="container">
        <div class="section">
            {{ block "main" . }}{{ end }}
        </div>
    </div>

    <!--Footer-->
    {{ partial "footer" . }}

    <!--Foot Extend：Some references that must be placed at the end, such as the reward script-->
    {{ block "footex" . }}{{ end }}
    <!-- <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script> -->
    <script defer src="/js/fontawesome.all.js"></script>
</body>

</html>