{{ define "header" }}
{{ partial "header-norm" . }}
{{ end }}

{{ define "headex" }}
<style>
    .content img,
    .content p {
        display: block;
        max-width: 50%;
        height: auto;
        text-align: center;
        margin: 1.2em auto 1.5em auto;
    }

    .content li,
    .content h2 {
        display: block;
        height: auto;
        margin: 1.0em auto 1.0em auto;
        max-width: 85%;
    }
</style>
{{end}}

{{ define "main" }}
<div class="columns">
    <div class="column is-1"></div>
    <div class="column is-10">
        <div class="tile is-child box">
            <div class="content">
                {{ .Content }}
            </div>
        </div>
    </div>
</div>
{{ end }}