{{ define "header" }}
{{ partial "header-home" . }}
<style>
    .search {
        position: relative;
        display: inline-block;
    }

    .search-results {
        display: none;
        background-color: #fff;
        position: absolute;
        min-width: 100px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    .search-results a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    .search-results a:hover {
        background-color: #ddd;
    }
</style>

{{ end }}

{{ define "main" }}

<!--Default: Weight > Date > LinkTitle > FilePath, eg: .Pages.ByPublishDate.Reverse-->
{{ $paginator := .Paginate (where .Site.RegularPages "Section" "post").ByWeight}}

<div class="columns">
    <div class="column is-9">
        <div class="tile is-child box">
            <div class="content">
                <h3>{{i18n "welcome"}}</h3>
                <hr>
                {{ range $paginator.Pages }}
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p class="title is-4">
                                <a href="{{.Permalink}}" title="{{.LinkTitle}}">{{.LinkTitle}}</a></p>
                            {{ partial "publishat" . }}
                            <p>{{ with .Description }} {{.}} {{ else }} {{.Summary}} {{end}}</p>
                        </div>
                    </div>
                </article>
                <hr>
                {{ end }}
            </div>
            {{ partial "pagination" .}}
        </div>
    </div>
    <div class="column is-3">
        {{ partial "widget-notice" . }}
        {{ partial "widget-author" . }}<br>
        <!-- {{ partial "widget-search" . }} -->
        <!-- {{ partial "widget-featured" . }} -->
        <!-- {{ partial "widget-recent" . }} -->
        {{ partial "widget-category" . }}
        {{ partial "widget-tags" . }}
        {{ partial "widget-archives" . }}
    </div>
</div>
{{ end }}